body {
  background-color: rgb(190, 182, 168);
  font-family: 'Raleway', sans-serif;
  width: 100%;
}

h1 {
  font-size: 4em;
  width: 100%;
  margin-top: 50px;
  margin-bottom: -60px;
}

.navbar{
  background-color: black;
  border-radius: 50px;

}


p {
  font-size: 1.2em;
  width: 40%;
  margin-top: 0px;
  margin-left: 50px;
  line-height: 140%;
}

.navbar ul{
  overflow: auto;
}

.navbar li{
  float:left;
  list-style: none; 
  margin: 2vh 2vw;
  padding: 1.5vh;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
}

.navbar li a{
  padding: 3px 3px;
  text-decoration: none;
  color: white;
}

.navbar li a:hover{
  color: rgb(190, 182, 168);
}

.navbar input{
  border: 2px solid black;
  border-radius: 14px;
  padding: 3px 17px;
  width: 129px;
}

.raum {
  height:100px;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.5em;
  text-align: center;
  margin-bottom: 50px;
}

.flex-container a:hover{
  color: rgb(190, 182, 168);
}

.flex-item-left {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 20px;
  flex: 30%;
  border-radius: 50px;
  font-size: 2.5em;
  text-decoration: none;
  margin: 10px;
}

.flex-item-right {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 20px;
  flex: 30%;
  border-radius: 50px;
  font-size: 2.5em;
  text-decoration: none;
  margin: 10px;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 10px 10px;
}

.column {
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  
}

a {
  color: #000000;
  text-decoration: none;
}

.table {
  width: 85%;
  color: #000000;
  text-align: center;
  justify-content: center;
  margin: 100px;
  font-size: 1.5em;
  line-height: 200%;
  text-decoration: none;
  margin-top: 60px;
}

.bold {
  font-weight: 700;
  font-size: 1.7em;
  line-height: 240%;
  color: rgb(98, 78, 43);

}

.table a:hover{
  color: rgb(98, 78, 43);
}


@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

